node_modules/
dist/
build/
.vite/
/.env
.env.local
.env.*.local
*.log
.DS_Store
.turbo/
.cache/
coverage/
pnpm-lock.yaml
package-lock.json
yarn.lock
.idea/
.vscode/
/.sass-cache
public/imagens/*
!public/imagens/.gitkeep
node_modules
dist
.env
.DS_Store